#endbadge .demo-badge-position {
  position: absolute;
  z-index: 1;
  top: 11.813rem;
}

html:not([dir='rtl']) #endbadge .demo-badge-position {
  right: 0;
}

html[dir='rtl'] #endbadge .demo-badge-position {
  left: 0;
}

#endbadge .demo-wrapper {
  position: relative;
}

#endbadge .demo-image {
  width: 18.75rem;
  height: 12.5rem;
  object-fit: cover;
}
