.demo-gantt {
  width: 100%;
  height: 25rem;
}

.demo-gantt .demo-gantt-row-label {
  overflow: visible;
}

.demo-dayshift-taskbar {
  fill: var(--oj-dvt-success-color);
}

.demo-nightshift-taskbar {
  fill: var(--oj-dvt-danger-color);
}

.demo-eveningshift-taskbar {
  fill: var(--oj-dvt-warning-color);
}
