/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.table-sizing,
.listview-sizing,
.chart-sizing {
  width: 100%;
  height: 300px;
}

.selected-list {
  max-width: 400px;
  overflow-wrap: break-word;
}
.nav-drawer-light-bg {
  background-color: #3a3631;
}

.demo-data-grid {
  width: 100%;
  min-height: 25rem;
  height: calc(50vh - 0.625rem);
}
.demo-panel {
  min-width: 17rem;
  max-width: 21rem;
}
.demo-panel-md {
  min-width: 17rem;
  max-width: 25rem;
}
.demo-panel-sm {
  min-width: 15rem;
  max-width: 15rem;
}
.demo-panel-lg {
  min-width: 25rem;
  max-width: 50rem;
}
.demo-collection-panel {
  min-width: 50rem;
  max-width: 50rem;
}
.demo-drawer-end {
  height: 100%;
}

.demo-full-height {
  height: 100vh;
}

.demo-drawer-header {
  display: flex;
  padding: 0.3rem 1rem 0 1rem;
  justify-content: space-between;
  align-items: center;
}

.demo-form-container {
  width: 350px;
}
