/jet_components
/node_modules
/bower_components
/dist
/jaftmp@
/web
/staged-themes
/themes
/test-results
/web.root-owned-build-backup
/.DS_Store
/.npm-cache
/.vscode
/.worktrees

Thumbs.db
migrator.log
migratorConfig.json
settings.json
package-lock.json
