.demo-dvt-color-palette {
  --oj-palette-dvt-rgb-1: 25, 95, 116;
  --oj-palette-dvt-rgb-2: 50, 146, 94;
  --oj-palette-dvt-rgb-3: 249, 183, 14;
  --oj-palette-dvt-rgb-4: 160, 37, 145;
  --oj-palette-dvt-rgb-5: 29, 154, 161;
  --oj-palette-dvt-rgb-6: 53, 190, 116;
  --oj-palette-dvt-rgb-7: 224, 128, 16;
  --oj-palette-dvt-rgb-8: 158, 84, 192;
  --oj-palette-dvt-rgb-9: 93, 187, 190;
  --oj-palette-dvt-rgb-10: 243, 229, 59;
  --oj-palette-dvt-rgb-11: 200, 78, 60;
  --oj-palette-dvt-rgb-12: 67, 49, 130;
}
