.demo-rem-max-width {
  max-width: 25rem !important;
}

.demo-percentage-width {
  width: 50% !important;
}

.demo-text-field-info {
  --oj-text-field-bg-color: rgb(var(--oj-palette-info-rgb-10));
  --oj-text-field-border-color: rgb(var(--oj-palette-info-rgb-100));
  --oj-text-field-text-color: rgb(var(--oj-palette-info-rgb-110));
}
