.demo-controls {
  padding-bottom: 1rem;
}

.demo-switch {
  margin-left: 2rem;
}

.demo-padding {
  padding: 1rem;
}

/*Drawers*/
.demo-drawer-header {
  display: flex;
  padding: 0.3rem 1rem 0 1rem;
  justify-content: space-between;
  align-items: center;
}
