.filmstrip-navdots-item {
  box-sizing: border-box;
  width: 10rem;
  height: 10rem;
}

.filmstrip-navdots-paging-control {
  display: inline-block;
}

.filmstrip-navdots-paging-control-container {
  text-align: center;
}
