.demo-grid {
    overflow-y: hidden;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: minmax(6.25rem, 1fr) minmax(12.5rem, 1fr) minmax(12.5rem, 1fr) minmax(
        12.5rem,
        1fr
      );
  }
  
  .demo-custom-size-vertical {
    height: 100%;
    max-height: 6rem;
  }
  
  .demo-text {
    max-width: 12rem;
  }
  
  .demo-gauge-narrow-cell {
    max-width: 15rem;
  }
  