.demo-timeline {
  width: 100%;
  height: 30rem;
}

/* overflow: visible is needed in RTL mode to prevent
   content from being hidden due to inverted x-axis causing
   negative x-axis coordinates */
[dir='rtl'] .demo-timeline .demo-timeline-bubble {
  overflow: visible;
}
