.demo-filmstrip {
  height: 35rem;
}

.demo-filmstrip-item {
  box-sizing: border-box;
  width: 10rem;
  height: 10rem;
}

.demo-filmstrip-wrapper {
  display: inline-block;
}

.demo-paging-container {
  position: absolute;
  top: 50%;
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

html:not([dir='rtl']) .demo-paging-container {
  right: 0;
}

html[dir='rtl'] .demo-paging-container {
  left: 0;
}

.demo-outer-container {
  display: inline-block;
  position: relative;
  padding-inline-end: 2.5rem;
}
