.demo-card1 {
  width: 15rem;
  height: 9.375rem;
}

.demo-card2 {
  width: 15rem;
  height: 18.75rem;
}

.demo-card3 {
  width: 15rem;
  height: 28.125rem;
}

.demo-card4 {
  width: 15rem;
  height: 9.375rem;
}

.demo-waterfall {
  height: 43.75rem;
}
