.demo-controls {
  padding-bottom: 1rem;
}

.demo-button {
  margin-right: 0.5rem;
}

.demo-padding {
  padding: 1rem;
}

.demo-drawer-header {
  display: flex;
  padding: 0.3rem 1rem 0 1rem;
  justify-content: space-between;
  align-items: center;
}

.demo-form-container {
  width: 350px;
}
