.demo-filmstrip-item {
  box-sizing: border-box;
  width: 10rem;
  height: 10rem;
}

.demo-arrow-controls {
  display: inline-block;
  vertical-align: top;
}

.demo-arrow-visibility-controls {
  display: inline-block;
  vertical-align: top;
}

.demo-inline-block {
  display: inline-block;
}

.demo-filmstrip-height {
  height: 30rem;
}
