.selector-card-list-view .selector-card-item {
  box-sizing: border-box;
  height: 24.6875rem;
  position: relative;
  width: 20.625rem;
}

.selector-card-list-view .selector-card-action {
  box-sizing: border-box;
  display: block;
  height: 100%;
  padding: 0;
  width: 100%;
}

.selector-card-list-view .oj-selected .selector-card-action,
.selector-card-list-view .selector-card-item.oj-selected .selector-card-action {
  outline: 0.1875rem solid var(--oj-core-focus-border-color);
  outline-offset: -0.1875rem;
}

.selector-card-list-view .selector-card-checkbox {
  inset-block-start: 0.75rem;
  inset-inline-start: 0.75rem;
  max-width: 2.75rem;
  position: absolute;
  z-index: 1;
}
