.filmstrip-deferred-rendering-item {
  box-sizing: border-box;
  width: 100%;
  height: 12rem;
  overflow: hidden;
}

.filmstrip-deferred-rendering-paging-control {
  display: inline-block;
}

.filmstrip-deferred-rendering-paging-control-container {
  text-align: center;
}
