/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.table-sizing,
.listview-sizing,
.chart-sizing {
  width: 100%;
  height: 300px;
}

.selected-list {
  max-width: 400px;
  overflow-wrap: break-word;
}
.nav-drawer-light-bg {
  background-color: #3a3631;
}

.demo-data-grid {
  width: 100%;
  min-height: 25rem;
  height: calc(50vh - 0.625rem);
}
.demo-panel {
  min-width: 17rem;
  max-width: 21rem;
}
.demo-collection-panel {
  min-width: 50rem;
  max-width: 21rem;
}
.demo-drawer-end {
  height: 100%;
}

.demo-full-height {
  height: 100vh;
}

.demo-drawer-header {
  display: flex;
  padding: 0.3rem 1rem 0 1rem;
  justify-content: space-between;
  align-items: center;
}

.demo-form-container {
  width: 350px;
}

.demo-filmstrip-item {
    box-sizing: border-box;
    width: 10rem;
    height: 10rem;
    border-color: #3a3631;
    border: 1px solid darkgray;
    text-align: center;
    padding-top: 4rem;
  }
  .demo-paging-control {
    display: inline-block;
  }
  .comingsoon{
   box-sizing: border-box;
    width: 80rem;
    height: 10rem;
    border-color: #3a3631;
    border: 1px solid darkgray;
    text-align: center;
    padding-top: 4rem;
    font-size: 24pt;
    margin-top:25pt
  }
  .component-item{
     width: 150px;
     height: 150px;
     background-color: #fff;
     padding: 5px;
     float:left;
     border: 0.25px solid gray;
     border-radius: 5px;
  }
 .component-wrapper{
  padding-left: 50pt;
 }

  .demo-badge-position {
    right: 0px;
    position: absolute;
    z-index: 1;
}
    
  