/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.table-sizing,
.listview-sizing,
.chart-sizing {
  width: 100%;
}

.selected-list {
  max-width: 400px;
  overflow-wrap: break-word;
}
.nav-drawer-light-bg {
  background-color: #3a3631;
}

.demo-data-grid {
  width: 100%;
  min-height: 25rem;
  height: calc(50vh - 0.625rem);
}
.demo-panel {
  min-width: 17rem;
  max-width: 21rem;
}
.demo-panel-md {
  min-width: 17rem;
  max-width: 25rem;
}
.demo-panel-sm {
  min-width: 15rem;
  max-width: 15rem;
}
.demo-panel-lg {
  min-width: 25rem;
  max-width: 50rem;
}
.demo-panel-xl {
  min-width: 50rem;
  max-width: 75rem;
}
.demo-collection-panel {
  min-width: 50rem;
  max-width: 50rem;
}
.demo-drawer-end {
  height: 100%;
}

.demo-full-height {
  height: 100vh;
}

.demo-drawer-header {
  display: flex;
  padding: 0.3rem 1rem 0 1rem;
  justify-content: space-between;
  align-items: center;
}

.demo-form-container {
  width: 350px;
}

.demo-filmstrip-item {
    box-sizing: border-box;
    width: 10rem;
    height: 10rem;
    border-color: #3a3631;
    border: 1px solid darkgray;
    text-align: center;
    padding-top: 4rem;
  }
  .demo-paging-control {
    display: inline-block;
  }
  .comingsoon{
   box-sizing: border-box;
    width: 80rem;
    height: 10rem;
    border-color: #3a3631;
    border: 1px solid darkgray;
    text-align: center;
    padding-top: 4rem;
    font-size: 24pt;
    margin-top:25pt
  }
  .component-item{
     width: 150px;
     height: 150px;
     background-color: #fff;
     padding: 5px;
     float:left;
     border: 0.25px solid gray;
     border-radius: 5px;
  }
 .component-wrapper{
  /* padding-left: 50pt; */
 }
 .breadcrumb-wrapper{
  margin-top: 10pt;
 }

  .demo-badge-position {
    right: 0px;
    position: absolute;
    z-index: 1;
}
.componentInfo{
text-align: center;
}


/* Custom styles for color palette */
  .demo-palette-preview {
    margin-left: 0.625rem;
    width: 5rem;
    height: 2.5rem;
    border: 1px solid;
    margin-bottom: 1.875rem;
  }
  
  .demo-palette-panel {
    margin-left: 0.625rem;
    display: inline-block;
    width: 17.25rem;
    height: auto;
    padding: 0.75rem;
    box-sizing: border-box;
  }
  
  .demo-text {
    display: inline-block;
    line-height: 2.5rem;
  }
  
  .demo-palette-panel .demo-palette-picker {
    width: 100%;
  }
  
  .demo-container-size-xs {
    width: 18.5rem;
  }
  .demo-container-size-sm {
    width: 18.125rem;
  }

  /* Custom styles for color spectrum */
    .demo-color-preview {
    width: 3.125rem;
    height: 2.5rem;
    border: 1px solid;
  }
  
  .demo-color-preview.demo-pointer {
    cursor: pointer;
  }
  
  .demo-color-panel {
    width: 18.438rem;
    height: 18.438rem;
  }
    
  