/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.table-sizing,
.listview-sizing,
.chart-sizing {
  width: 100%;
  height: 300px;
}

.selected-list {
  max-width: 400px;
  overflow-wrap: break-word;
}
.nav-drawer-light-bg {
  background-color: #3a3631;
}

.demo-data-grid {
  width: 100%;
  min-height: 25rem;
  height: calc(50vh - 0.625rem);
}
.demo-panel {
  min-width: 17rem;
  max-width: 21rem;
}
.demo-panel-md {
  min-width: 17rem;
  max-width: 25rem;
}
.demo-panel-sm {
  min-width: 15rem;
  max-width: 15rem;
}
.demo-panel-lg {
  min-width: 25rem;
  max-width: 50rem;
}
.demo-panel-xl {
  min-width: 50rem;
  max-width: 75rem;
}
.demo-collection-panel {
  min-width: 50rem;
  max-width: 50rem;
}
.demo-drawer-end {
  height: 100%;
}

.demo-full-height {
  height: 100vh;
}

.demo-drawer-header {
  display: flex;
  padding: 0.3rem 1rem 0 1rem;
  justify-content: space-between;
  align-items: center;
}

.demo-form-container {
  width: 350px;
}


/* Localization app's CSS content goes below. (wegan-JET-69937-localization-vdom)  */

.demo-oracle-icon {
  width: 137px;
  height: 18px
}

.demo-en-flag-icon:before {
  content: url("./images/flg-us.svg");
}

html[dir="rtl"] .demo-en-flag-icon:before {
  content: url("./images/flg-us.svg");
}

.demo-fr-flag-icon:before {
  content: url("./images/flg-fr.svg");
}

html[dir="rtl"] .demo-fr-flag-icon:before {
  content: url("./images/flg-fr.svg");
}

.demo-cz-flag-icon:before {
  content: url("./images/flg-cz.svg");
}

html[dir="rtl"] .demo-cz-flag-icon:before {
  content: url("./images/flg-cz.svg");
}

.demo-eg-flag-icon:before {
  content: url("./images/flg-eg.svg");
}

html[dir="rtl"] .demo-eg-flag-icon:before {
  content: url("./images/flg-eg.svg");
}

.demo-oracle-icon:before {
  content: url("./images/oracle_logo.svg")
}

html:not([dir="rtl"]) .demo-oracle-icon {
  padding-right: 4px
}

html[dir="rtl"] .demo-oracle-icon {
  padding-left: 4px
}

.demo-oracle-icon:before {
  display: inline
}

.demo-appheader-avatar {
  width: 24px;
  height: 24px
}

.demo-appheader-avatar:before {
  content: url("./images/avatar_24px.png")
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
  .demo-appheader-avatar:before {
    content: url("./images/avatar_24px_2x.png");
    -webkit-transform: translate(-25%, -25%) scale(0.5);
    transform: translate(-25%, -25%) scale(0.5)
  }
}