:root {
  --demo-purple: #9e54c0;
  --demo-yellow: #f3e53b;
}

.demo-icon {
  display: block;
  width: 16px !important;
  height: 16px !important;
  top: 50%;
  transform: translateY(-50%);
}
.demo-green {
  background-color: var(--oj-core-success-1);
}
.demo-orange {
  background-color: var(--oj-core-warning-1);
}
.demo-purple {
  background-color: var(--demo-purple);
}
.demo-red {
  background-color: var(--oj-core-danger-1);
}
.demo-blue {
  background-color: var(--oj-core-info-1);
}
.demo-yellow {
  background-color: var(--demo-yellow);
}
