#gauge-container {
  overflow-y: hidden;
}

.demo-grid {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns:
    minmax(6.25rem, 1fr) minmax(12.5rem, 1fr) minmax(12.5rem, 1fr) minmax(12.5rem, 1fr)
    minmax(12.5rem, 1fr);
}

.demo-gauge-cell {
  margin-top: 1.8rem;
  max-height: 6rem;
}

.demo-text {
  max-width: 12rem;
}

.demo-vertical-gauge {
  height: 100%;
}
