.demo-card-view {
  height: 500px;
}

.demo-card {
  width: 19.5rem;
  height: 12.5rem;
}

.demo-tweet {
  overflow: hidden;
}

.demo-tweet span {
  word-wrap: break-word;
}

.demo-tweet a:focus {
  outline-offset: -2px;
  outline-style: solid;
}