:root {
  /* variable to represent side column widths */
  --demo-column-width: 100px;
}

.demo-table-container {
  min-width: 100%;
}

.demo-sample-page {
  position: relative;
  width: 100%;
  min-height: 34rem;
  max-height: 100vh;
  overflow: auto;
}

.demo-layout {
  display: inline-flex;
}

.demo-side-column {
  position: sticky;
  display: inline-flex;
  top: 0;
  z-index: 2;
  width: var(--demo-column-width);
}

.demo-side-column-inner {
  position: sticky;
  top: 0;
  height: calc(100vh - 20px);
}

.demo-sample-content {
  position: sticky;
  height: 200px;
}

.demo-sample-banner {
  position: sticky;
  height: 100px;
  z-index: 1;
}

.demo-sample-banner-top {
  top: 0;
}

.demo-sample-banner-bottom {
  bottom: 0;
}

.demo-sample-banner-inner,
.demo-sample-content-inner {
  position: sticky;
  width: calc(100vw - (2 * var(--demo-column-width)) - 20px);
  inset-inline-start: var(--demo-column-width);
}

.demo-start-column {
  inset-inline-start: 0;
}

.demo-end-column {
  inset-inline-end: 0;
}
