.demo-list {
  width: 100%;
  height: 95vh;
  min-height: 18.75rem;
  overflow-x: hidden;
}

.demo-tweet span {
  word-wrap: break-word;
}

.demo-tweet a:focus {
  outline-offset: -1px;
  outline-style: solid;
}
