.demo-table-input-number {
  width: 12.5rem;
}

.demo-table-performance-panel {
  min-height: 14rem;
}

.demo-table-performance-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.demo-table-performance-actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5rem;
}

.demo-table-render-time {
  font-size: 1.25rem;
}

.demo-table-container {
  width: 100%;
  height: 27rem;
}
