#listviewContainer {
  width: 100%;
}

.demo-card-layout-list {
  width: 100%;
}

.demo-card {
  width: calc((100% - 2rem) / 3);
  min-width: 14rem;
  max-width: 20rem;
}

.demo-card-panel {
  box-sizing: border-box;
  height: 100%;
  min-height: 9rem;
}
